@model Lemon.WebApp.Controllers.LogonViewModel

@{
    ViewBag.Title = "Logon";
}

<h2>Logon</h2>

@using(Html.BeginForm())
{
    @Html.ValidationSummary(true)
    
    @Html.LabelFor(model => model.Email)
    @Html.TextBoxFor(model => model.Email)
    @Html.ValidationMessageFor(model => model.Email)
    <br/>
    
    @Html.LabelFor(model => model.Password)
    @Html.PasswordFor(model => model.Password)
    @Html.ValidationMessageFor(model => model.Password)
    <br/>
    
     <input type="submit" value="Войти"/>
}
