@using Lemon.Common
@using Lemon.WebApp.Models
@model Lemon.WebApp.Models.OrderViewModel

@{
    ViewBag.Title = Model.Title.AutoEllipses(16);
}

<h2>@Model.Title</h2>
<p>Описание заказа</p>

@Model.Content

@if(Model.Comments == null || Model.Comments.Count == 0)
{
    <p>Нет ни одного комментария на это задание.</p>
    <p>Будь первым!</p>
}
else{
    <p>Комментарии</p>
    foreach (var comment in Model.Comments)
    {
        <div class="comment">
            <div>@comment.Comment</div>
            <span class="comment-time">@comment.CreationTimeOut</span><span class="comment-price">@comment.Cost</span>
        </div>
    }
   
}

@Html.Partial("_OrderCommentPartial", new CreateCommentModel{OrderId = Model.Id})



